# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [1]:
# Import libraries
import pandas as pd

In [5]:
# Import data
df = pd.read_csv('ufo.csv')
df.head()

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,2005,1325.486319
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,2008,6515.416577
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396

In [63]:
def get_year(s):
    lst = s.split('/')
    
    return int(lst[2][:4])

In [84]:
df['new_year'] = df['datetime'].apply(get_year)
#Primero hay que limpiar los años. Las fechas no coinciden, así que nos quedaremos sólo con los registros
#en los que las fechas y los años concuerden.

In [65]:
df.head()

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance,new_year
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772,1949
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,2005,1325.486319,1949
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,2008,6515.416577,1955
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352,1956
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396,1960

In [122]:
df2004 = df[(df['year']==df['new_year']) & (df['new_year']>2004) & (df['country']=='us')]

In [132]:
datos = df2004[['latitude', 'longitude', 'distance']].sort_values(by='distance', ascending=True)

In [133]:
datos.head()

        latitude  longitude    distance
28764  36.442500 -83.599722  300.016444
43761  38.730833 -88.085278  300.431569
43022  38.730833 -88.085278  300.431569
17560  33.471667 -86.800833  301.399697
44329  33.614167 -85.835000  302.280898

In [44]:
import folium

In [134]:
mapa=folium.Map(location=[29.883056, -97.941111], tiles='openstreetmap', zoom_start=12)

In [135]:
for e in datos.head().values:
    folium.CircleMarker([e[0], e[1]], radius=e[2]/10, icon=folium.Icon()).add_to(mapa)

In [136]:
mapa

In [46]:
#Está en Tenesi

In [83]:
#mapa

4