In [1]:
# importar las bibliotecas necesarias
import pandas as pd
import re

In [2]:
#leer el archivo
df = pd.read_csv("attacksu.csv")

In [8]:
#voy a atacar la columna type
df.Type[df.Type.str.startswith('Bo')]='Boating'
df.Type[df.Type.str.startswith('Inv')]='No information'

C:\Users\Javier\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Javier\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
#Ahora la columna Countries
df.Country.fillna('No information', inplace = True)
df.Country = df.Country.apply(lambda x: str(x).upper())
#df.Country[df.Country.str.startswith('Usa')]='USA'

In [11]:
def interr(s):
    if '?' in str(s):
        s = 'No information'
    return s

In [12]:
df.Country = df.Country.apply(interr)

In [16]:
def amp(s):
    s = s.replace('&', 'Y')
    return s

In [17]:
df.Country = df.Country.apply(amp)

In [19]:
def spec(s):
    if r'/' in s:
        s = 'NO INFORMATION'
    return s

In [20]:
df.Country = df.Country.apply(spec)

In [21]:
def ocean(s):
    if 'OCEAN' in s or 'SEA' in s or 'BETWEEN' in s or 'GULF' in s or 'DIEGO GARCIA' in s:
        s = 'NO INFORMATION'
    elif 'ST. MAARTIN' in s:
        s = 'ST. MAARTIN'
    return s

In [22]:
df.Country = df.Country.apply(ocean)

In [72]:
esp_1 = lambda x: re.sub('^\s', "", str(x))
esp_2 = lambda x: re.sub('\s$', "", str(x))
df['Country'] = df['Country'].apply(esp_1)
df['Country'] = df['Country'].apply(esp_2)

In [ ]:
#Columna Sex

In [96]:
dfc = df.rename(columns = {'Sex ':'Sex'})
dfc.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [97]:
def cleans(s):
    if 'N' in str(s) or 'lli' in str(s) or r'.' in str(s):
        s = 'No information'
    return s

In [98]:
dfc.Sex = dfc.Sex.apply(cleans)
#

In [99]:
dfc.Sex.value_counts()

M                 4835
F                  585
No information       3
M                    2
Name: Sex, dtype: int64

In [100]:
def male(s):
    if 'M' in str(s):
        s = 'M'
    return s

In [101]:
dfc.Sex = dfc.Sex.apply(male)
dfc.Sex.value_counts()

M                 4837
F                  585
No information       3
Name: Sex, dtype: int64

In [102]:
#Columna Fatal

In [103]:
dfc['Fatal (Y/N)'].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
#VALUE!       1
n             1
F             1
N             1
Name: Fatal (Y/N), dtype: int64

In [104]:
def fatal(s):
    if 'UNKNOWN' in str(s):
        s = 'No information'
    elif 'N' in str(s) or 'n' in str(s) or 'F' in str(s):
        s = 'N'
    elif 'Y' in str(s):
        s = 'Y'
    else: 
        s = 'No information'
    
    return s

In [105]:
dfc['Fatal (Y/N)'] = dfc['Fatal (Y/N)'].apply(fatal)
dfc['Fatal (Y/N)'].value_counts()

N                 4345
Y                 1552
No information      95
Name: Fatal (Y/N), dtype: int64

In [106]:
#####Activity

In [107]:
dfc.Activity.isnull().value_counts()

False    5465
True      527
Name: Activity, dtype: int64

In [108]:
dfc.Activity.fillna('No information', inplace = True)

In [109]:
##Aquí no sé que más hacer

In [110]:
##Age

In [111]:
dfc.Age = dfc.Age.apply(esp_1)
dfc.Age = dfc.Age.apply(esp_2)

In [112]:

def num(s):
    a = re.findall('[\d][\d]',str(s))
    
    if len(a) == 1:
        return s
    else:
        return 'No information'

In [114]:
def num_d(s):
    if len(str(s)) > 2:
        return 'No information'
    else: 
        return s

In [113]:
dfc.Age = dfc.Age.apply(num_d)

In [116]:
dfc.Age.fillna('No information', inplace = True)

In [117]:
def let(s):
    a = re.findall('\D', str(s))
    if len(a) !=0:
        return 'No information'
    else:
        return s

In [120]:
dfc.Age = dfc.Age.apply(let)

In [121]:
def noesp(s):
    if ' ' in s or '' == s:
        return 'No information'
    else:
        return int(s)

In [122]:
dfc.Age = dfc.Age.apply(noesp)

In [ ]:
######  Species

In [196]:
dfs = dfc.rename(columns = {'Species ':'Species'})

In [197]:
dfs.Species.fillna('no information', inplace = True)

In [198]:
dfs.Species = dfs.Species.apply(lambda x: str(x).lower())

In [199]:
def nulsh(s):
    if '?' in str(s) or 'not' in str(s):
        s = 'no information'
    return s

In [200]:
dfs.Species = dfs.Species.apply(nulsh)

In [201]:
dfs.Species = dfs.Species.apply(esp_1)
dfs.Species = dfs.Species.apply(esp_2)

In [202]:
def comsp(s):
    if 'white' in s:
        s = 'white'
    elif 'mako' in s:
            s= 'mako'
    elif 'blue' in s:
            s= 'blue'
    elif 'blacktip' in s:
            s = 'blacktip'
    elif 'wobbegong' in s or 'wobegong' in s:
            s = 'wobbegong'
    elif 'No shark involvement' in s:
            s = 'no information'
    elif 'bull' in s:
            s = 'bull'
    elif 'tiger' in s:
            s = 'tiger'
    
    return s

In [203]:
dfs.Species = dfs.Species.apply(comsp)

In [194]:
dfs.Species = dfs.Species.apply(lambda s: re.sub('[0-9]', '', s) )

In [204]:
dfs.Species.value_counts()

no information                                                                                                                                                   3089
white                                                                                                                                                             638
tiger                                                                                                                                                             264
bull                                                                                                                                                              172
blacktip                                                                                                                                                           98
blue                                                                                                                                                               56
mako                                                                                                                                                               56
wobbegong                                                                                                                                                          43
6' shark                                                                                                                                                           40
4' shark                                                                                                                                                           39
1.8 m [6'] shark                                                                                                                                                   37
1.5 m [5'] shark                                                                                                                                                   32
1.2 m [4'] shark                                                                                                                                                   27
3' shark                                                                                                                                                           25
5' shark                                                                                                                                                           25
4' to 5' shark                                                                                                                                                     23
2 m shark                                                                                                                                                          22
3 m [10'] shark                                                                                                                                                    22
no shark involvement                                                                                                                                               21
3' to 4' shark                                                                                                                                                     18
3.7 m [12'] shark                                                                                                                                                  16
3 m shark                                                                                                                                                          16
2.4 m [8'] shark                                                                                                                                                   16
"a small shark"                                                                                                                                                    15
1.2 m to 1.5 m [4' to 5'] shark                                                                                                                                    14
raggedtooth shark                                                                                                                                                  14
12' shark                                                                                                                                                          14
7' shark                                                                                                                                                           14
1.5 m shark                                                                                                                                                        13
10' shark                                                                                                                                                          13
                                                                                                                                                                 ...
whaler shark                                                                                                                                                        1
c. macrurus captured 48 hours after attack with tissue removed from man in its gut; species identified by g.p. whitley,  reported as c. obscurus by  r. steel       1
"dog shark"                                                                                                                                                         1
3 m [10'], 270- kg [595-lb] shark                                                                                                                                   1
local authorities speculated that the water was too cold for sharks, but a 2.1 m [7'], 200-lb pregnant sandbar shark was caught next day                            1
caribbean reef sharks                                                                                                                                               1
1' to 2' shark                                                                                                                                                      1
440-lb shark                                                                                                                                                        1
2.7 m [9'] shark later captured by mitchell-hedges                                                                                                                  1
port jackson shark, 1m                                                                                                                                              1
1.2 m [4'], possibly  larger shark                                                                                                                                  1
nurse shark, 1.5 m [5']  identified by dr. e. clark on description of shark                                                                                         1
salmon shark suspected, but unlikely                                                                                                                                1
1.8 m to 2.4 m [6' to 8'] "black finned shark"                                                                                                                      1
a small hammerhead shark                                                                                                                                            1
3 m [10'] sharks                                                                                                                                                    1
1' to 4' shark                                                                                                                                                      1
said to involve a 2.4 m [8'] hammerhead shark                                                                                                                       1
1.2 m [4'] "grey-colored shark"                                                                                                                                     1
"a pack of sharks"                                                                                                                                                  1
grey nurse shark, 2.7 m [9']                                                                                                                                        1
nurse shark, 60 cm [24"], identified by dr. l.p. l. schultz on photograph                                                                                           1
15* to 24" dog shark                                                                                                                                                1
possibly a  1.8 m [6'] zambezi shark                                                                                                                                1
1.2 m to 1.8 m [4' to 6'] shark                                                                                                                                     1
2.1 m [7'] shark, a shark's serrated tooth recovered from toe                                                                                                       1
grey reef shark, 1.5 m                                                                                                                                              1
1.8 m [6'] dogfish                                                                                                                                                  1
2.1 m [7'], 140-lb reef shark                                                                                                                                       1
lemon shark, 1.8 m [6'] male, n. breviostris, identified by w.a. stark ii, later the same day a 6'8" pregnant female lemon shark bit the bow of the boat            1
Name: Species, Length: 751, dtype: int64

In [ ]:

############################################################################

In [ ]:
dfc.Sex.value_counts()

In [ ]:
#for e in df.Country:
 #   if r'/' in str(e):
  #      pass
   #     print(e)

In [ ]:
#countries_count = df["Country"].value_counts()
#countries_count

In [ ]:
#df.Country.value_counts()

In [ ]:
len([])

In [81]:
dfc.Age.value_counts()

No information    2772
17                 148
18                 145
19                 138
20                 136
15                 135
16                 134
21                 115
22                 113
24                 103
25                 101
14                  97
13                  91
23                  80
26                  80
27                  78
28                  77
29                  75
30                  74
12                  70
35                  64
32                  64
10                  51
31                  50
40                  50
38                  47
34                  45
43                  43
36                  41
33                  40
                  ...
56                   9
69                   8
62                   8
5                    7
70                   6
68                   6
3                    4
65                   4
64                   4
71                   3
77                   3
                     3
66                   3
78                   2
74                   2
1                    2
75                   2
F                    2
2Ω                   1
87                   1
86                   1
72                   1
X                    1
67                   1
84                   1
M                    1
73                   1
†                    1
6Ω                   1
81                   1
Name: Age, Length: 87, dtype: int64