In [99]:
# importar las bibliotecas necesarias
import pandas as pd
import re

In [100]:
#leer el archivo
df = pd.read_csv("attacksu.csv")

In [101]:
#voy a atacar la columna type
df.Type[df.Type.str.startswith('Bo')]='Boating'

C:\Users\Javier\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [102]:
#Ahora la columna Countries
df.Country = df.Country.apply(lambda x: str(x).upper())
#df.Country[df.Country.str.startswith('Usa')]='USA'

In [103]:
def interr(s):
    if '?' in str(s):
        s = 'No information'
    return s

In [104]:
df.Country = df.Country.apply(interr)

In [105]:
def amp(s):
    s = s.replace('&', 'Y')
    return s

In [106]:
df.Country = df.Country.apply(amp)

In [107]:
def spec(s):
    if r'/' in s:
        s = 'NO INFORMATION'
    return s

In [108]:
df.Country = df.Country.apply(spec)

In [109]:
def ocean(s):
    if 'OCEAN' in s or 'SEA' in s or 'BETWEEN' in s or 'GULF' in s or 'DIEGO GARCIA' in s:
        s = 'NO INFORMATION'
    elif 'ST. MAARTIN' in s:
        s = 'ST. MAARTIN'
    return s

In [110]:
df.Country = df.Country.apply(ocean)

In [111]:
esp_1 = lambda x: re.sub('^\s', "", x)
esp_2 = lambda x: re.sub('\s$', "", x)
df['Country'] = df['Country'].apply(esp_1)
df['Country'] = df['Country'].apply(esp_2)

In [112]:
#Columna Sex

In [183]:
dfc = df.rename(columns = {'Sex ':'Sex'})
dfc.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [184]:
def cleans(s):
    if 'N' in str(s) or 'lli' in str(s) or r'.' in str(s):
        s = 'No information'
    return s

In [185]:
dfc.Sex = dfc.Sex.apply(cleans)
#

In [186]:
dfc.Sex.value_counts()

M                 4835
F                  585
No information       3
M                    2
Name: Sex, dtype: int64

In [187]:
def male(s):
    if 'M' in str(s):
        s = 'M'
    return s

In [188]:
dfc.Sex = dfc.Sex.apply(male)
dfc.Sex.value_counts()

M                 4837
F                  585
No information       3
Name: Sex, dtype: int64

In [167]:
#Columna Fatal

In [189]:
dfc['Fatal (Y/N)'].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
N             1
#VALUE!       1
F             1
n             1
Name: Fatal (Y/N), dtype: int64

In [190]:
def fatal(s):
    if 'UNKNOWN' in str(s):
        s = 'No information'
    elif 'N' in str(s) or 'n' in str(s) or 'F' in str(s):
        s = 'N'
    elif 'Y' in str(s):
        s = 'Y'
    else: 
        s = 'No information'
    
    return s

In [191]:
dfc['Fatal (Y/N)'] = dfc['Fatal (Y/N)'].apply(fatal)
dfc['Fatal (Y/N)'].value_counts()

N                 4345
Y                 1552
No information      95
Name: Fatal (Y/N), dtype: int64

In [192]:
#####Activity

In [193]:
dfc.Activity.isnull().value_counts()

False    5465
True      527
Name: Activity, dtype: int64

In [194]:
dfc.Activity.fillna('No information', inplace = True)

In [174]:
##Aquí no sé que más hacer

In [175]:
###Age

In [176]:

def num(s):
    a = re.findall('[\d][\d]',str(s))
    
    if len(a) == 1:
        return s
    else:
        return 'No information'

In [97]:
dfc.Age = dfc.Age.apply(num)

In [157]:
def num_d(s):
    if len(str(s)) > 2:
        return 'No information'
    else: 
        return int(s)

In [198]:
dfc.Age.fillna('No information', inplace = True)

In [201]:
def let(s):
    a = re.findall('\D', str(s))
    if len(a) !=0:
        return 'No information'
    else:
        return int(s)

In [202]:
dfc.Age = dfc.Age.apply(let)

In [195]:
dfc.Age.value_counts()

17                 148
18                 145
19                 138
20                 136
15                 135
16                 134
21                 115
22                 113
24                 103
25                 101
14                  97
13                  91
23                  80
26                  80
27                  78
28                  77
29                  75
30                  74
12                  70
32                  64
35                  64
10                  51
31                  50
40                  50
38                  47
34                  45
43                  43
36                  41
33                  40
37                  37
                  ...
33 & 37              1
? & 19               1
36 & 23              1
87                   1
18 to 22             1
"middle-age"         1
?    &   14          1
18 or 20             1
17 & 35              1
46 & 34              1
Ca. 33               1
72                   1
"young"              1
32 & 30              1
21 & ?               1
50 & 30              1
mid-30s              1
A.M.                 1
Teens                1
23 & 20              1
21, 34,24 & 35       1
28 & 26              1
23 & 26              1
9 or 10              1
(adult)              1
18 months            1
7      &    31       1
30 or 36             1
6Ω                   1
MAKE LINE GREEN      1
Name: Age, Length: 151, dtype: int64

In [128]:
dfc.Age.value_counts()

17                 148
18                 145
19                 138
20                 136
15                 135
16                 134
21                 115
22                 113
24                 103
25                 101
14                  97
13                  91
23                  80
26                  80
27                  78
28                  77
29                  75
30                  74
12                  70
32                  64
35                  64
10                  51
31                  50
40                  50
38                  47
34                  45
43                  43
36                  41
33                  40
37                  37
                  ...
33 & 37              1
? & 19               1
36 & 23              1
87                   1
18 to 22             1
"middle-age"         1
?    &   14          1
18 or 20             1
17 & 35              1
46 & 34              1
Ca. 33               1
72                   1
"young"              1
32 & 30              1
21 & ?               1
50 & 30              1
mid-30s              1
A.M.                 1
Teens                1
23 & 20              1
21, 34,24 & 35       1
28 & 26              1
23 & 26              1
9 or 10              1
(adult)              1
18 months            1
7      &    31       1
30 or 36             1
6Ω                   1
MAKE LINE GREEN      1
Name: Age, Length: 151, dtype: int64

In [ ]:

############################################################################

In [ ]:
#dfc.Sex.value_counts()

In [ ]:
#for e in df.Country:
 #   if r'/' in str(e):
  #      pass
   #     print(e)

In [ ]:
#countries_count = df["Country"].value_counts()
#countries_count

In [ ]:
#df.Country.value_counts()

In [160]:
len([])

0