In [4]:
# importar las bibliotecas necesarias
import pandas as pd
import re

In [41]:
#leer el archivo
df = pd.read_csv("attacksu.csv")

In [42]:
#voy a atacar la columna type
df.Type[df.Type.str.startswith('Bo')]='Boating'

C:\Users\Javier\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
#Ahora la columna Countries
df.Country = df.Country.apply(lambda x: str(x).upper())
#df.Country[df.Country.str.startswith('Usa')]='USA'

In [50]:
def interr(s):
    if '?' in str(s):
        s = 'No information'
    return s

In [51]:
df.Country = df.Country.apply(interr)

In [52]:
def amp(s):
    s = s.replace('&', 'Y')
    return s

In [53]:
df.Country = df.Country.apply(amp)

In [111]:
def spec(s):
    if r'/' in s:
        s = 'NO INFORMATION'
    return s

In [112]:
df.Country = df.Country.apply(spec)

In [123]:
def ocean(s):
    if 'OCEAN' in s or 'SEA' in s or 'BETWEEN' in s:
        s = 'NO INFORMATION'
    return s

In [165]:
df.Country = df.Country.apply(ocean)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [120]:
#Columna Sex

In [184]:
dfc = df.rename(columns = {'Sex ':'Sex'})
dfc.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

M      4835
F       585
M         2
N         1
lli       1
.         1
Name: Sex , dtype: int64

In [192]:
def cleans(s):
    if 'N' in str(s) or 'lli' in str(s) or r'.' in str(s):
        s = 'No information'
    return s

In [193]:
dfc.Sex = dfc.Sex.apply(cleans)
#

In [195]:
dfc.Sex.value_counts()

M                 4835
F                  585
No information       3
M                    2
Name: Sex, dtype: int64

In [199]:
def male(s):
    if 'M' in str(s):
        s = 'M'
    return s

In [202]:
dfc.Sex = dfc.Sex.apply(male)
dfc.Sex.value_counts()

M                 4837
F                  585
No information       3
Name: Sex, dtype: int64

In [ ]:
######

In [54]:
############################################################################

In [151]:
dfc.Sex.value_counts()

M      4835
F       585
M         2
N         1
lli       1
.         1
Name: Sex, dtype: int64

In [110]:
for e in df.Country:
    if r'/' in str(e):
        pass
        print(e)

EGYPT / ISRAEL
RED SEA / INDIAN OCEAN
ANDAMAN / NICOBAR ISLANDAS
IRAN / IRAQ
SOLOMON ISLANDS / VANUATU
ITALY / CROATIA
EQUATORIAL GUINEA / CAMEROON

In [98]:
countries_count = df["Country"].value_counts()
#countries_count

In [113]:
df.Country.value_counts()

USA                         2116
AUSTRALIA                   1279
SOUTH AFRICA                 565
PAPUA NEW GUINEA             133
NEW ZEALAND                  125
BRAZIL                       102
BAHAMAS                       98
MEXICO                        81
ITALY                         71
FIJI                          65
PHILIPPINES                   59
REUNION                       57
NEW CALEDONIA                 51
MOZAMBIQUE                    44
NAN                           43
CUBA                          42
SPAIN                         40
INDIA                         37
EGYPT                         36
CROATIA                       34
JAPAN                         32
PANAMA                        32
IRAN                          29
SOLOMON ISLANDS               29
GREECE                        25
HONG KONG                     24
JAMAICA                       23
FRENCH POLYNESIA              22
INDONESIA                     20
ENGLAND                       19
                            ...
GRAND CAYMAN                   1
ICELAND                        1
TUVALU                         1
ARUBA                          1
GEORGIA                        1
NETHERLANDS ANTILLES           1
GULF OF ADEN                   1
CURACAO                        1
COOK ISLANDS                   1
SYRIA                          1
ADMIRALTY ISLANDS              1
MONACO                         1
MID-PACIFC OCEAN               1
NORTHERN MARIANA ISLANDS       1
NORTHERN ARABIAN SEA           1
ST. MARTIN                     1
GHANA                          1
PALESTINIAN TERRITORIES        1
BAHREIN                        1
NORTH ATLANTIC OCEAN           1
ALGERIA                        1
BRITISH ISLES                  1
ARGENTINA                      1
SOUTH CHINA SEA                1
NORTH SEA                      1
UNITED ARAB EMIRATES           1
BRITISH NEW GUINEA             1
PARAGUAY                       1
GUATEMALA                      1
KUWAIT                         1
Name: Country, Length: 190, dtype: int64